/* styles.css */
@font-face {
    font-family: 'TTBackward'; 
    src: url('./fonts/ttbackward.otf') format('truetype'); 
}

@font-face {
    font-family: 'Klandestin';
    src: url('./fonts/klandestin.otf') format('truetype');
}

@font-face {
    font-family: 'TTCommonPro';
    src: url('./fonts/ttcommonpro.otf') format('truetype');
}

@font-face {
    font-family: 'GlacialIndifference';
    src: url('./fonts/GlacialIndifference.otf') format('truetype');
}

.graded-card-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 15px;
    margin-left: 10px;
}
  
.graded-card {
    display: grid;
    justify-content: center;
    background-color: #F8F4F4; /* Grey section at the top */
    border-radius: 10px;
    border: 1px solid #D6D7DC;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    overflow: hidden; /* Clip rounded corners */
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 25px;
    margin-right: 25px;
    width: 245px;
    height: 555px;   
}

.graded-card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
  
.graded-card img {
    width: 180px;
    height: auto;
    object-fit: cover;
    margin-left: 13%;
    margin-top: 10%;
    margin-bottom: 10px;
}
  
.graded-card-details {
    width: 235px;
    height: 207px;
    justify-content: space-between;
    align-items: flex-start;
    background-color: white; /* White section at the bottom */
    padding: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 1px solid #D6D7DC;
    font-family: 'GlacialIndifference';
}

.graded-name-container{
    height: 20%;
}

.graded-name-container .graded-name{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: left;
    font-size: 15px;
    padding: 2px;
    font-weight: bolder;
}

.graded-price-description-stock-container {
    margin-top: 18px;
    margin-bottom: 10px;
    padding: 2px;
    display: grid;
    grid-template-columns: 130px 110px;
    justify-content: space-between;
    height: 70px;
}
  
.graded-description-stock-container {
    display: flex;
    flex-direction: column;
  }
  
.graded-description-stock-container  .graded-description,.graded-stock {
    padding: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    font-size: 15px;
    text-align: left;
    height: 20px;
}
  
.graded-card-details .graded-price {
    margin-top: 10%;
    margin-right: 15%;
    font-family: 'TTBackward';
    font-size: 35px;
    font-weight: bold;
    text-align: right;
}
  
.graded-card-details .graded-addtocartbtn {
    background-color: #2F2838;
    width: 80%;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 24px;
}
  
.graded-card-details .graded-addtocartbtn:hover {
    background-color: #0a090c;
}
  
button:hover {
    background-color: #4c3e3a;
}