/* styles.css */
@font-face {
    font-family: 'TTBackward'; 
    src: url('./fonts/ttbackward.otf') format('truetype'); 
}

@font-face {
    font-family: 'Klandestin';
    src: url('./fonts/klandestin.otf') format('truetype');
}

@font-face {
    font-family: 'TTCommonPro';
    src: url('./fonts/ttcommonpro.otf') format('truetype');
}

@font-face {
    font-family: 'GlacialIndifference';
    src: url('./fonts/GlacialIndifference.otf') format('truetype');
}

body {
    font-family: Arial, sans-serif;
}
  
.header {
    display: flex;
    align-items: center;
    justify-content:left;
    background-color: #FFFF;
    color: #735E59;
    padding: 10px 20px;
    border-bottom: 2px solid #735E59;
    height: 100px;
}
  
.logo-container {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #735E59;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 10px;
}
  
.logo {
    width: 100%;
    height: auto;
}

.title-container {
    margin-top: 30px;
    margin-left: 20px;
}

.title-container h1 {
    font-family: 'TTBackward', sans-serif; 
    font-size: 50px;
}

.menu-container {
    display: flex;
    margin-left: 20px;
    margin-top: 45px;
}
  
.menu-item {
    margin-right: 20px;
    cursor: pointer;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-top: 35px;
    margin-right: 10px; 
  }
  
  .search-bar input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .search-bar button {
    background-color: #735E59;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
  }

.icon-container{
    margin-top: 35px;
    margin-right: 20px;
}

.icon-container .icon {
    width: 30px;
    height: 30px;
    margin-left: 20px;
    cursor: pointer;
}

.cart-indicator {
    background-color: red;
    color: white;
    font-size: 12px;
    border-radius: 50%;
    padding: 2px 6px;
    position: absolute;
    top: 55px;
    right: 82px;
}
 
.autobiography-section {
    display: flex;
    height: 400px;
    width: 100%;
    background-color: #f2f2f2; /*#E7DFD8*/
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #735E59;
}

.autobiography-text {
    width: 40%;
    text-align: center;
    margin-left: 170px;
}

.autobio-header{
    font-family: "Wanoquin";
    font-size: 60px;
    color: #4c3e3a;
    padding: 5px;
    border-bottom: 1px solid #4c3e3a;
}

.autobio-description{
    font-family: "TTCommonPro";
    color: #4c3e3a;
    margin-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 10px;
    font-size: 30px;
}

.autobio-code{
    font-family: "TTBackward";
    font-size: 40px;
    font-weight: bold;
    color: #4c3e3a;
    margin-top: 40px;
}
  
.autobiography-image img {
    margin-right: 170px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 520px; 
    height: auto;
}

.content-container {
    padding: 5px;
    display: grid;
    grid-template-columns: 20% 80%;
    justify-content: space-between;
}
  
.filter-container {
   margin: 10px;
   margin-top: 50px;
   margin-left: 50px;
}

.filter-header {
    font-family: "GlacialIndifference";
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #343333;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 5px;
}

.filter-group{
    text-align: left;
    border-top: 1px solid #D6D7DC;
    margin: 5px;
    padding: 5px;
}

.filter-title{
    font-family: "GlacialIndifference";
    font-size: 25px;
    margin-left: 5px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #343333;
    margin-top: 10px;
}

.filter-item{
    display: grid;
    grid-template-columns: 80% 20%;
    justify-content:space-evenly;
    font-family: "GlacialIndifference";
    font-size: 20px;
    letter-spacing: 1px;
    color: #525151;
    margin: 20px 10px 10px 5px;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 24px;
}
  
.toggle-switch input {
    display: none;
}
  
.toggle-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}
  
.toggle-switch input:checked + .slider {
    background-color: #343333;
}
  
.toggle-switch .slider::before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}
  
.toggle-switch input:checked + .slider::before {
    transform: translateX(18px);
}

.card-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 20px;
    margin-left: 10px;
}
  
.card {
    display: grid;
    justify-content: center;
    background-color: #F8F4F4; /* Grey section at the top */
    border-radius: 10px;
    border: 1px solid #D6D7DC;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    overflow: hidden; /* Clip rounded corners */
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    width: 320px;   
}

.card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
  
.card img {
    width: 210px;
    height: 298px;
    object-fit: cover;
    margin-left: 62px;
    margin-top: 10px;
    margin-bottom: 10px;
}
  
.card-details {
    width: 290px;
    justify-content: space-between;
    align-items: flex-start;
    background-color: white; /* White section at the bottom */
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 1px solid #D6D7DC;
    font-family: 'GlacialIndifference';
}

.name-container{
    height: 20%;
}

.name-container .name{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 35px;
    padding: 2px;
    font-weight: bolder;
}

.price-description-stock-container {
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 2px;
    display: grid;
    grid-template-columns: 130px 110px;
    justify-content: space-between;
    height: 70px;
}
  
.description-stock-container {
    display: flex;
    flex-direction: column;
  }
  
.description-stock-container  .description,.stock {
    padding: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 15px;
    text-align: left;
    height: 20px;
}
  
.card-details .price {
    margin-top: 5px;
    font-family: 'TTBackward';
    font-size: 45px;
    font-weight: bold;
    text-align: right;
}
  
.card-details .addtocartbtn {
    background-color: #2F2838;
    width: 80%;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 24px;
}
  
.card-details .addtocartbtn:hover {
    background-color: #0a090c;
}
  
  
button:hover {
    background-color: #4c3e3a;
}