@font-face {
    font-family: 'TTBackward'; 
    src: url('./fonts/ttbackward.otf') format('truetype'); 
}

@font-face {
    font-family: 'Klandestin';
    src: url('./fonts/klandestin.otf') format('truetype');
}

@font-face {
    font-family: 'TTCommonPro';
    src: url('./fonts/ttcommonpro.otf') format('truetype');
}

@font-face {
    font-family: 'GlacialIndifference';
    src: url('./fonts/GlacialIndifference.otf') format('truetype');
}

.cart-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: right;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 20px;
}   

.cart-container-header{
    display: flex;
    justify-content: space-between;
    font-family: 'GlacialIndifference';
    font-size: 35px;
    font-weight: bold;
    color: #2F2838;
    padding: 5px;
    border-bottom: 1px solid #D6D7DC;
    margin-top: 2%;
    padding-bottom: 10px;
}

.cart-item{
    display: grid;
    grid-template-columns: 18% 50% 10% 22%;
    justify-content: space-between;
    height: 250px;
    margin-top: 2%;
    margin-bottom: 20px;
    background-color: #F8F4F4; /* Grey section at the top */
    border-radius: 10px;
    border: 1px solid #D6D7DC;
    overflow: hidden;
}

.cart-item-left-container{
    height: 100%;
}

.cart-item-image{
    width: 159px;
    height: 220px;
    object-fit: cover;
    margin-left: 10%;
    margin-right: 5%;
    margin-top: 8%;
    margin-bottom: 8%;
}

.cart-item-middleleft-container{
    height: 100%;
    background-color: white; /* White section at the bottom */
    border-left: 1px solid #D6D7DC;
}

.cart-item-middleright-container{
    height: 100%;
    background-color: white; /* White section at the bottom */
}

.cart-item-dropdown-container{
    margin-top: 95%;
    margin-left: 20%;
}

.cart-item-dropdown{
    width: 70px;
    font-family: 'GlacialIndifference';
    font-size: 20px;
}

.cart-items-name-description{
    align-content: start;
    margin-left: 5%;
}

.cart-items-name-description .name{
    font-family: 'TTBackward';
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 1px;
    margin-bottom: 2%;
}

.cart-items-name-description .description{
    font-family: 'GlacialIndefference';
    font-size: 20px;
    letter-spacing: 1px;
    margin-top: 2%;
}

.cart-items-name-description .condition{
    font-family: 'GlacialIndefference';
    font-size: 20px;
    letter-spacing: 1px;
    margin-top: 2%;
}

.cart-items-name-description .price{
    font-family: 'GlacialIndefference';
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 2%;
}

.cart-items-right-container{
    height: 100%;
    background-color: white; 
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cart-item-price{
    margin-top: 22%;
    margin-left: 18%;
    font-family: 'TTBackward';
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 1px;
}

.cart-item-remove-button{
    background-color: #343333;
    color: white;
    font-size: 15px;
    border-radius: 30%;
    margin-left: 84%;
    margin-top: 6%;
    justify-self: flex-end;
    cursor: pointer;
}

.cart-item-remove-button:hover {
    background-color: #080808;
}

.cart-total-price-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    align-self: flex-end;
    align-items: flex-end;
    margin-bottom: 2%;
}

.cart-total-price-container .total-price{
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    font-family: 'GlacialIndifference';
    font-size: 30px;
    font-weight: bold;
}

.cart-total-checkout-btn{
    background-color: #2F2838;
    width: 22%;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 20px;
}

.cart-total-checkout-btn:hover {
    background-color: #0a090c;
}

.success-message {
    position: fixed;
    top: 15px;
    right: 15px;
    background-color: rgba(30, 31, 30, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 999; /* Ensure the message appears above other elements */
}