/* styles.css */
@font-face {
    font-family: 'TTBackward'; 
    src: url('./fonts/ttbackward.otf') format('truetype'); 
}

@font-face {
    font-family: 'Klandestin';
    src: url('./fonts/klandestin.otf') format('truetype');
}

@font-face {
    font-family: 'TTCommonPro';
    src: url('./fonts/ttcommonpro.otf') format('truetype');
}

body {
    font-family: Arial, sans-serif;
}
  
.header {
    display: flex;
    align-items: center;
    justify-content:left;
    background-color: #FFFF;
    color: #735E59;
    padding: 10px 20px;
    border-bottom: 2px solid #735E59;
}
  
.logo-container {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #735E59;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 10px;
}
  
.logo {
    width: 100%;
    height: auto;
}

.title-container {
    margin-top: 20px;
    margin-left: 20px;
}

.title-container h1 {
    font-family: 'TTBackward', sans-serif; 
    font-size: 50px;
}

.menu-container {
    display: flex;
    margin-left: 20px;
    margin-top: 25px;
}
  
.menu-item {
    margin-right: 20px;
    cursor: pointer;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-top: 20px;
    margin-right: 10px; 
  }
  
  .search-bar input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .search-bar button {
    background-color: #735E59;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
  }
 
.autobiography-section {
    display: flex;
    height: 400px;
    width: 100%;
    background-color: #f2f2f2; /*#E7DFD8*/
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #735E59;
}

.autobiography-text {
    width: 40%;
    text-align: center;
    margin-left: 170px;
}

.autobio-header{
    font-family: "Wanoquin";
    font-size: 60px;
    color: #4c3e3a;
    padding: 5px;
    border-bottom: 1px solid #4c3e3a;
}

.autobio-description{
    font-family: "TTCommonPro";
    color: #4c3e3a;
    margin-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 10px;
    font-size: 30px;
}

.autobio-code{
    font-family: "TTBackward";
    font-size: 40px;
    font-weight: bold;
    color: #4c3e3a;
    margin-top: 40px;
}
  
.autobiography-image img {
    margin-right: 170px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 520px; 
    height: auto;
}

.card-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 20px;
    margin-left: 130px;
}
  
.card {
    display: grid;
    justify-content: center;
    background-color: #F8F4F4; /* Grey section at the top */
    border-radius: 10px;
    border: 1px solid #D6D7DC;
    overflow: hidden; /* Clip rounded corners */
    position: relative;
    margin: 10px;
    width: 280px;   
}
  
.card img {
    width: 210px;
    height: 298px;
    object-fit: cover;
    margin-left: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
}
  
.card-details {
    width: 250px;
    background-color: white; /* White section at the bottom */
    padding: 20px;
    text-align: left;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 1px solid #D6D7DC;
}
  
.card-details h2 {
    font-size: 30px;
    margin-top: 0;
}

.card-details p {
    font-size: 15px;
    text-align: right;
    margin-top: 10px;
}
  
.card-details .price {
    font-size: 45px;
    height: 30px;
    text-align: left;
}
  
.card-details .addtocartbtn {
    background-color: #735E59;
    width: 80%;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 24px;
}
  
.card-details .addtocartbtn:hover {
    background-color: #4c3e3a;
}
  
  
button:hover {
    background-color: #4c3e3a;
}